<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cad.carlink.weixin.dao.DemoUserPOMapper">
    <resultMap id="BaseResultMap" type="com.cad.carlink.weixin.model.po.DemoUserPO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="gendar" property="gendar" jdbcType="VARCHAR"/>
        <result column="salary" property="salary" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, age, gendar, salary
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from demo_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM demo_user
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cad.carlink.weixin.model.po.DemoUserPO">
        INSERT INTO demo_user (id, name, age,
                               gendar, salary)
        VALUES (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{gendar,jdbcType=VARCHAR}, #{salary,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.cad.carlink.weixin.model.po.DemoUserPO">
        insert into demo_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gendar != null">
                gendar,
            </if>
            <if test="salary != null">
                salary,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gendar != null">
                #{gendar,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                #{salary,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cad.carlink.weixin.model.po.DemoUserPO">
        update demo_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gendar != null">
                gendar = #{gendar,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                salary = #{salary,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cad.carlink.weixin.model.po.DemoUserPO">
        UPDATE demo_user
        SET name = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        gendar = #{gendar,jdbcType=VARCHAR},
        salary = #{salary,jdbcType=DECIMAL}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>